include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/filters/filtersPanel.pug
include /components/filters/playerRating.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/bestWinsBlock.pug
include /components/tournamentRegCard.pug
include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/photoTiles.pug
include /components/atoms/backButtonTitle.pug
include /components/profileTournamentCard.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Фотографии
    link(href='../../styles.css' rel='stylesheet')
      link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap")
    base(href='../../')
  body.bg-page-background.pb-28.pt-12
    +topBar
    .flex.items-center.justify-between.gap-3.p-4
      h1 Фотографии
      img.size-6(src='img/plus-button.svg' alt='')
    +searchAndFilterButton('Имя, клуб, фотограф', true, 'px-4') 

    +filterButtonsRow([ { label: '🔥 Самые интересные', active: true}, { label: 'Новые', active: false}, { label: 'Самые комментируемые', active: false}], 'padding', 'mt-4')

    +photoTiles(true)

    +tabBar('Вокруг игры')
