include /components/atoms/avatar.pug
include /components/atoms/breadcrumbs.pug
include /components/atoms/bookmark.pug
include /components/atoms/button.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/modal.pug
include /components/clubCard.pug
include /components/newsCard.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Корты
        link(href="../../styles.css" rel="stylesheet")
        base(href="../../")
    body.bg-page-background.pt-12.pb-32
        +topBar
        +breadcrumbs([{name: 'Корты', href: 'pages/courts/courts.html'}, {name: 'Спарринг-партнёры', href: 'pages/courts/sparrings.html'}])
        .flex.items-center.gap-4.shrink-0.p-3.bg-white
            +avatar(avatarClass, 'АБ', 64)
            .grow
                .text-lab-black.font-semibold Алексей Борисов
                .inline     
                    +userRating(324, true) 
                    +userRating(633, false)
                .text-sm.text-lab-black-50.mt-1 21 год, Москва
            +bookmark
        .px-4.pt-2.pb-4.bg-white
            p.p-3.bg-lab-color-10.rounded-lg.shadow-lg.border.border-lab-color Классическая техника, вращаю, кидаю, подставляю, подрезаю. Пишите, постучим
            .flex.justify-between.items-start.gap-4.pt-6
                span.text-lab-black-50.text-nowrap Играю в залах
                span.text-right.max-w-40
                    a(href="#") Naten-1905
                    | , 
                    a(href="#") Фили-ТТ
                    | , 
                    a(href="#") Space Химки
            .flex.justify-between.items-start.gap-4.pt-4
                span.text-lab-black-50 Желаемый рейтинг партнёра
                span.text-right 100-400
            div.mt-6.mb-2 Готов играть в следующие дни
            table(class="table-fixed w-full border-collapse mb-6")
                thead.text-sm.text-lab-black.font-regular
                    tr.bg-lab-color-10.border
                        th(class="w-1/4 border") 
                        th(class="w-1/7 border") Пн
                        th(class="w-1/7 border") Вт
                        th(class="w-1/7 border") Ср
                        th(class="w-1/7 border") Чт
                        th(class="w-1/7 border") Пт
                        th(class="w-1/7 border") Сб
                        th(class="w-1/7 border") Вс
                tbody.border-collapse
                    tr
                        td.border.text-lab-black.pl-2 Утро
                        td.border
                        td.border
                        td.border
                        td.border
                        td.border
                        td.border
                        td.border
                    tr.border
                        td.border.text-lab-black.pl-2 День
                        td.border
                        td.border
                        td.border
                        td.border
                        td.border
                        td.border: img(src="img/racket.svg").mx-auto
                        td.border
                    tr.border
                        td.border.text-lab-black.pl-2 Вечер
                        td.border: img(src="img/racket.svg").mx-auto
                        td.border
                        td.border: img(src="img/racket.svg").mx-auto
                        td.border: img(src="img/racket.svg").mx-auto
                        td.border: img(src="img/racket.svg").mx-auto
                        td.border: img(src="img/racket.svg").mx-auto
                        td.border: img(src="img/racket.svg").mx-auto
            +button('Написать сообщение', 'default', 'white', 'bg-lab-color')

        +tabBar('Корты')