include /components/atoms/button.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/inputs/floatingInput.pug
include /components/modal.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Вход - ЛАБ
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap'
    )
    base(href='../../')
  body.bg-white.pt-8
    img.mx-auto.my-4.size-24(src='img/lab-logo.svg', alt='')
    h1.text-center.font-semibold Вход на сайт ЛАБ

    .mx-auto.mt-8.max-w-420.p-4
      +floatingInput('Введите логин или email', 'w-full', 'login', 'login', 'pr-10', '', '', 'Пользователь с таким логином не найден')
      .relative.w-full
        +floatingInput('Введите пароль', 'w-full', 'password', 'password', 'pr-10')
        button.absolute.right-2.top-2(type='button', onclick='togglePasswordVisibility()')
          img.h-6(src='img/eye.svg', alt='Toggle visibility')
        a.block.w-full.text-center.text-sm.text-lab-black-50(href='pages/auth/resetPassword.html') Забыли пароль?
      +button('Войти', 'default', 'white', 'bg-lab-color', 'mt-4', 'editButton', '')

      .p-4.text-center
        p.text-lab-black-50 или войдите через
        .flex.items-center.justify-center.gap-4
          img.size-10(src='img/vk-round.svg', alt='')
          img.size-10(src='img/google-round.svg', alt='')
          img.size-10(src='img/yandex-round.svg', alt='')

      .mt-4.text-center Нет аккаунта?
        |
        |
        a(href='pages/auth/signup.html') Зарегистрируйтесь!
    +tabBar('')
    script.
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password')
        const eyeIcon = document.querySelector('button img')
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text'
          eyeIcon.src = 'img/hide.svg'
        } else {
          passwordInput.type = 'password'
          eyeIcon.src = 'img/eye.svg'
        }
      }
