mixin dottedLine(title, value)
    div.flex.justify-between.items-center.gap-2.py-1.text-sm
        span.text-lab-black-50= title
        .grow.border-b-2.border-dotted.h-3
        span.text-right= value