mixin reactions(reactions, activeIndex)
  div.flex.flex-wrap.gap-2
    each reaction, index in reactions
      if reaction.count !== 0
        - const isActive = index === activeIndex
        - const reactionClass = isActive ? 'bg-lab-color !text-white' : 'bg-slate-100 text-lab-black'
        - const showCounter = reaction.count > 1 || isActive
        div(class=`${reactionClass} inline-flex items-center cursor-pointer px-2 py-1.5 h-[30px] rounded-full text-xs my-2 leading-none` role="button" tabindex="0")
          | #{reaction.emoji}
          if showCounter
            div(class="text-sm px-1.5 py-0.5")
              | #{reaction.count}
