mixin stepper(baseValue, decreaseId='decrease-courts', increaseId='increase-courts')
  .flex.h-9.items-center.rounded-lg.bg-lab-color-10
    button(id=decreaseId).size-10.text-xl.text-lab-black-50 –
    span.w-4.text-center.leading-none(class='h-3.5')= baseValue
    button(id=increaseId).size-10.text-xl.text-lab-black-50 +