mixin tag(bgcolor, textcolor, text)
    div(class="px-2 py-2 font-semibold text-xs bg-" + bgcolor + " text-" + textcolor + " rounded-lg shadow-sm leading-none border w-fit")= text
        span(class="ml-2 text-" + textcolor) ✕