mixin searchBar(placeholder, id) 
  .flex.items-center.border.px-3.py-2.rounded-lg.gap-3.bg-white.flex-grow(class="focus-within:ring-2 focus-within:ring-lab-color")
    img(src="img/search-icon.svg" alt="Поиск" class="w-4 h-4")
    input.flex-grow(id=id class='outline-none leading-none bg-transparent' type='text', placeholder=placeholder)